@font-face {
  font-family: "Assistant";
  src: url("./Assistant-VariableFont_wght.ttf");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  font-family: "Assistant";
}

body {
  overflow: hidden;
}

aside {
  font-style: italic;
}

.homepage {
  display: flex;
}

img {
  overflow: hidden;
  /* object-fit: cover; */
}

#content {
  /* background-color: red; */
}
