@font-face {
  font-family: "Assistant";
  src: url("./Assistant-VariableFont_wght.ttf");
  font-weight: 600;
  font-style: normal;
}

html {
  font-family: monospace;
  font-size: 20px;
}

body {
  /* margin: 0; */
  background-image: url("./homepage.jpg");
  background-size: cover;
}

#content {
  color: white;
}

ul {
  display: flex;
  align-items: baseline;
  padding: 0;
  margin-bottom: 3rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  gap: 2rem;
}

li {
  list-style: none;
  cursor: pointer;
}

li:first-child {
  font-size: 2rem;
}

main {
  background-color: black;
  width: 50%;
  padding: 1rem;
}

aside {
  grid-column: 2;
  font-style: italic;
  font-size: 1.5rem;
}

p {
  grid-column: 2;
  margin-bottom: 0;
}
